.menu__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.menu__select {
  width: 305px;
  height: 88px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.menu__select_title {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #fff;
}

.menu__select_sort {
  display: flex;
  gap: 37px;
}

.menu__select_sort-title {
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #bdbdbd;
  text-align: center;
}

.menu__select_sort-options {
  display: flex;
  gap: 12px;
}

.menu__select_sort-options--title {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.menu__project-btn {
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  background: #fe754d;
  border-radius: 42px;
  color: #fff;
  width: 248px;
  height: 56px;
  border: none;
  cursor: pointer;
}
