.menu__projects_item {
  width: 343px;
  height: 334px;
  border-radius: 20px;
  background: #25223c;
}

.menu__projects_item-title {
  margin: 16px 0 12px 16px;
  font-family: "Golos Text", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
}

.menu__projects_item-topics {
  display: flex;
  gap: 8px;
  margin-left: 16px;
}

.menu__projects_item-topic {
  background: #4c3441;
  border: none;
  color: #fe754d;
  font-family: "Golos Text", sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  height: 28px;
}
